extends ./layout

block title
  title トップ｜コンテンツマーケティング運用ツール

block breadcrumb
  nav.mt-3(aria-label='パンくずリスト')
    .container-fluid
      ol.breadcrumb
        li.breadcrumb-item
          a(href='./' aria-current='page') トップ
