.skeleton-image {
  background: #eee; 
  padding-top: 50%;
  padding-bottom: 50%;
}

.skeleton-image.is-16x9 {
  padding-top: 28.1%;
  padding-bottom: 28.1%;
}

.skeleton-image.is-21x9 {
  padding-top: 21.4%;
  padding-bottom: 21.4%;
}

.skeleton-image.is-3x4 {
  padding-top: 66.6%;
  padding-bottom: 66.6%;
}
